*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.img{


    /* background-size: contain; */


     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 60%;
     left: 0;
     right: 0;
     z-index: -1;

    
  } 

    img {
        will-change:transform;
        max-width: 100%;
        height: auto;

      }
      
