*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.img{


    /* background-size: contain; */


     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 75%;
     left: 0;
     right: 0;
     z-index: -1;
     width: 100vw;
     height: auto;
    
  } 

   .img img {
       
  max-width: 100%;
  height: auto;
  will-change:transform;

  aspect-ratio: 1;
      }
      
