*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.img{
    background-image: url('../src/earth.png');
   background-position: center;
    background-repeat: no-repeat;
    object-fit:  contain;
    background-size: contain;
    position: absolute;
    top: 50vh;
    z-index: -1;
    min-width: 100%;
     will-change:transform;
    min-height: 100vh;
     transform: translateZ(0);
    
  } 